!!! 5
%html
  %head
    %title Altereddit
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container
      .masthead
        %h1 Altereddit
        %span.tagline An unofficial Proggit digest (updated hourly)
      = yield
